# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build outputs
.next/
out/
build/
dist/

# Coverage output
coverage/

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Logs
logs
*.log

# Package manager files
.pnpm-store/
.yarn/

# Cache
.eslintcache 